body,html{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

header{
    width: 100%;
    height: 70px;
    background-color: #333;
}

h1{
    position: absolute;
    padding: 0px;
    float: left;
    margin-left: 2%;
    margin-top: 5px;
    font-family: 'Open Sans';
    color: #39c973;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover{
    color: #39c973;
    transition: 0.2s;
}

img{
    width: 100%;
    margin-top: -16px;
}

footer {
    height: 70px;
    background-color: #333;
}